<html>

<head>
  <meta charset="utf-8">
  <title>第三屆軟體專案管理營</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <article>
    <header>
      <h1>第三屆軟體專案管理營</h1>
      <h2>線上報名</h2>
      <hr>
    </header>
    <form id="form1" action="/" method="post" enctype="multipart/form-data">
        
        <!-- 在此填入表單內容 -->
        
    </form>
  </article>
</body>

</html>